<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>

  <modules>
    <module assemblyFile="Modules\ModuleB.dll"
            moduleType="ModuleB.ModuleBModule, ModuleB, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="ModuleB" startupLoaded="false" />
    <module assemblyFile="Modules\ModuleA.dll"
            moduleType="ModuleA.ModuleAModule, ModuleA, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="ModuleA" startupLoaded="false" >
      <dependencies>
        <dependency moduleName="ModuleB"/>
      </dependencies>
    </module>
  </modules>

</configuration>